body{
    width: 100%;
    overflow-x: hidden;
}

.flower{
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    background-color: #FFFF00;
    border-radius: 47%;
    animation: flower_pulse 1s linear infinite;
}
    @keyframes flower_pulse{
        0%{}
        50%{scale: 135%;}
        100%{scale: 100%;}
    }
    .flower:hover{
        background-color: #B2A2FF;
    }

.flower1{
    left: 17%;
    top: 3vh;
}
.flower2{
    left: 34%;
    top: 3.3vh;
}
.flower3{
    left: 14%;
    top: 4.8vh;
}
.flower4{
    left: 32%;
    top: 4.9vh;
}

.flower5{
    left: 43%;
    top: 3vh;
}
.flower6{
    left: 60%;
    top: 3.3vh;
}
.flower7{
    left: 43%;
    top: 4.8vh;
}
.flower8{
    left: 60%;
    top: 4.9vh;
}

.corner_left{
    position: absolute;
    background-color: #0A0832;
    height: 13vh;
    width: 7vw;
    border-bottom-right-radius: 100%;
    z-index: 99;
}
.corner_right{
    position: absolute;
    background-color: #0A0832;
    height: 13vh;
    width: 7vw;
    border-bottom-left-radius: 100%;
    z-index: 99;
    left: 93%;
}

/* ---------------- lines ---------------- */

.line{
    position: absolute;
    background-color: #B2A2FF;
    overflow: hidden;
    width: 4.5vw;
    height: 100vh;
}
.man_containeer{
    position: relative;
    width: 4.5vw;
    height: 100vh;
    overflow: hidden;
}
.man{
    position: absolute;
    width: 3.5vw;
    margin-left: 0.35vw;
    animation: man 6s linear infinite;
}
    @keyframes man {
        0%{top: -120%}
        100%{top: -5%}
    }

.lineright{
    margin-left: 95.58%;
}
.man_containeer_right{
    position: relative;
    width: 4.5vw;
    height: 100vh;
    overflow: hidden;
}
.man_right {
    position: absolute;
    rotate: 180deg;
    width: 3.5vw;
    margin-left: 0.8vw;
    animation: man 6s linear infinite;
}

/* .linetop{
    width: 100%;
    height: 7.87vh;  
    opacity: 10%;  
    position: absolute;
    z-index: 100;
} */

.man_containeer_top{
    position: absolute;
    width: 100%;
    height: 4.5vw;
    overflow: hidden;
    z-index: 10;
    background: #B2A2FF;

}
.man_top{
    position: absolute;
    /* width: 3.5vw; */
    animation: mantop 6s linear infinite;
    z-index: 11;
}
    @keyframes mantop {
        0%{left: -120%}
        100%{left: -5%}
    }
/* -------------- lines end -------------- */

.y-spot-container{
    position:absolute;
    width: 17.5vw;
    height: 7.8vw;
    top: -30vw;
    left: 20vw;
    display: block;
    overflow: hidden;
}

.y-spot{
    position:absolute;
    width: 17.5vw;
    height: 7.8vw;
    display: block;
    background-size: 360% 100%;
    background: url(../img/y-spots2.svg);
    animation: y-spot 0.8s steps(4) infinite;
}
    @keyframes y-spot {
        0%{ background-position: 100%;}
        100%{background-position: 360%;}
    }

/* -------------- illustration -------------- */

.illustration-container{
    position: relative;
    width: 90.3vw;
    height: 52vw;
    margin: 0 auto ;
}

.illustration-circle{
    position: absolute;
    width: 1.5vw;
    height: 1.5vw; 
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 47vw;
    background-color: #FFFF00;
    border-radius: 50%;
    z-index: 10;
}

.centercenter-element{
    position: absolute;
    width: 22vw;
    height: 22vw;
    top: 17vw;
    left: 26.7vw;
    z-index: 8;
}
.center-element-img{
    width: 100%;
    height: 100%;
}

.center-element{
    position: absolute;
    width: 47vw;
    height: 48vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 6vw;
}
.center-element-img{
    width: 100%;
}

.center-gear{
    position: absolute;
    width: 40vw;
    height: 25vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 12vw;
    overflow: hidden;
}
.center-gear-img{
    position: absolute;
    width: 100%;
    top: 0.7vw;
    margin: 0 auto;
    animation: rotate 15s linear infinite;
}
    @keyframes rotate{
        0%{rotate: -360deg;}
        20%{rotate: -350deg;}
        100%{rotate: 360deg;}
    }


/* ------------ illustration end ------------ */